.navbar {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  &__logo, &__toggle {
    padding: 4rem 3rem;
  }

  .logo-image--hidden {
    display: none;
  }

  .logo-image--visible {
    display: block;
  }

  &__logo {
    .logo-dark {
      opacity: .5 !important;
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: 1 !important;
      }
    }

    .logo-white {
      transition: opacity .2s ease-in-out;
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }    
  }

  &__toggle {
    @include reset-url;
    display: flex;
    align-items: center;

    p span{
      display: block;
      font-size: .9rem;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2em;
      letter-spacing: .2em;
      transition: opacity .2s ease-in;
      opacity: .9;
    }

    .icon {
      display: block;
      position: absolute;
      right: 85px;

      .bar {
        height: 3px;
        background: $color-grey;
        margin: 6px 0 6px auto;
        transition: all .2s ease-in-out;
      }

      .bar1 {
        width: 23px;
      }

      .bar2 {
        width: 15px;
      }

      .bar3 {
        width: 18px;
      }

      .toggled {
        background: $color-grey;
        width: 20px;
      }

      .toggled--bar1 {
        -webkit-transform: rotate(-45deg) translate(9px, 5px) ;
        transform: translate(0, 9px)  rotate(45deg);
      }

      .toggled--bar2 {
        opacity: 0;
      }

      .toggled--bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: translate(-0, -9px) rotate(-45deg);
      }
    }

    .menu-text {
      transition: opacity .2s ease-in-out;
      visibility: visible;
      opacity: 1;
    }

    .menu-toggle--show {
      color: $color-grey;
    }

    .hidden {
      visibility: hidden;
      opacity: 0;
      font-size: 0;    
      transition: opacity .2s ease-in-out;
    }

    &:hover {
      p span {
        opacity: 1;
      }
      .icon .bar {
        background: $color-font;
        width: 20px;
      }
    }
  }
  .show-modal {
    &:hover {
      p span {
        color: #fff;
        transition: color .2s ease-in-out;
      }
      .icon .bar {
        background: #fff;
      }
    }
  }
}
.navmodal {
  background: $color-font;
  height: 100vh;
  opacity: .98;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  &__container {
    height: calc(100% - 120px);
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
    .content {
      color: #fff;
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0;
      transform: translateY(-50%);
      h4 {
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: .5rem;;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        li {
          margin: 1rem 0;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 3.5rem;
          font-weight: bold;
          position: relative;
          line-height: 4rem;
          opacity: .7;
          i {
            position: absolute;
            height: 0;
            width: 120px;
            bottom: 50%;;
            left: 0;
            &::after {
              position: absolute;
              background: #fff;
              display: block;
              content: '';
              width: 0;
              height: 6px;
              top: 0;
              left: -100px;
              transition: width .2s cubic-bezier(.3,0,.5,1);
            } 
          }
          &:hover, &:active {
            opacity: 1;
            i::after {
              width: 75px;
            }
          }
        }
        p {
          opacity: .3;
          z-index: 999;
        }
      }
    }}
  }
}
.modal-open {
  overflow: hidden;
}